.box_merchant-section{
    padding: 200px 0;
    .box_merchant__card{
        &--size-2{
            width: 48%;
        }
        &--size-3{
            width: 30%;
        }
        .box_merchant__card__img{
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .box_merchant__card__content{
            font-family: $f-noto_serif_myanmar_regular;
            padding: 50px 0;
            h3{
                font-size: 25px;
                font-weight: $txt-300;
                border-bottom: 1px solid #000;
                margin-bottom: 20px;
                padding-bottom: 15px;
            }
            ul{
                text-align: right;
                li{
                    display: inline-block;
                    a{
                        display: block;
                        font-size: 16px;
                        margin-left: 20px;
                        color: $black-400;

                    }
                }
            }
            p{
                margin-top: 40px;
                line-height: 45px;
            }
        }
    }
}
@media all and (min-width:1024px) and (max-width:1440px) {
    .box_merchant-section{
        padding: 150px 0;
        .box_merchant__card{
           
            .box_merchant__card__content{
                font-family: $f-noto_serif_myanmar_regular;
                padding: 50px 0;
                h3{
                    font-size: 20px;
                }
                ul{
                    text-align: right;
                    li{
                        display: inline-block;
                        a{
                            font-size: 14px;
    
                        }
                    }
                }
                p{
                    line-height: 40px;
                    font-size: 14px;
                }
            }
        }
    }
}
@media all and (max-width:991px) {
    .box_merchant-section{
        padding: 100px 0;
        .box_merchant__card{
            margin-bottom: 50px;
            &--size-2{
                width: 100%;
            }
            &--size-3{
                width: 100%;
            }
            .box_merchant__card__content{
                padding: 30px 0;
                h3{
                    font-size: 18px;
                }
                ul{
                    li{
                        a{
                            font-size: 12px;
    
                        }
                    }
                }
                p{
                    line-height: 32px;
                    font-size: 12px;
                }
            }
        }
    }
}