.sb_brain-section {
    padding: 180px 0;

    .sb_brain_inner {
        position: relative;

        .sb_brain__card {
            width: 60%;

            h3 {
                font-family: $f-noto_serif_myanmar_regular;
                font-size: 30px;
                font-weight: $txt-300;
                margin-top: 360px;
                margin-bottom: 60px;

                span {
                    display: inline-block;
                    margin-bottom: 30px;
                    position: relative;
                    z-index: 999;

                    &::after {
                        content: '';
                        height: 40px;
                        background-color: $white-400;
                        width: 120%;
                        display: block;
                        position: absolute;
                        top: -20px;
                        left: 0;
                        z-index: -1;
                    }
                }
            }
            p{
                font-family: $f-noto_serif_myanmar_regular;
                font-size: 15px;
                span{
                    display: inline-block;
                    margin-bottom: 30px;
                    position: relative;
                    z-index: 999;

                    &::after {
                        content: '';
                        height: 40px;
                        background-color: $white-400;
                        width: 105%;
                        display: block;
                        position: absolute;
                        top: -20px;
                        left: 0;
                        z-index: -1;
                    }
                }
            }
            .sb_brain__card__sig{
                margin-top: 50px;
                span{
                    display: block;
                    margin-bottom: 20px;
                }
                h4{
                    font-family: $f-noto_serif_myanmar_regular;
                    font-size: 30px;
                    font-weight: $txt-500;
                    line-height: 50px;
                }
            }

            &--img {
                position: absolute;
                top: -280px;
                right: 0;
                width: 70%;
                z-index: -1;

                img {
                    width: 100%;
                }
            }

        }
    }
}

.sb-section-2{
    padding:0 0 180px 0;
    position: relative;
    .sb_img{
        position: absolute;
        width: 40%;
        left: 0;
        top: 0;
        img{
            width: 100%;
        }
    }
    .flex_right{
        display: flex;
        justify-content: flex-end;
        .sb__card{
            margin-top: 160px;
            .sb__card__content{
                padding-left: 240px;
            }
        }
    }
    .sb__card{
        background-color: $gray-500;
        width: 80%;
        padding: 70px 80px;
        h3{
            font-size: 25px;
            line-height: 50px;
            font-weight: $txt-500;
            font-family: $f-noto_serif_myanmar_regular;
            margin-bottom: 50px;
        }
        p{
            line-height: 40px;
        }
        .sb__card__btn{
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid #000;
            text-align: right;
            span{
                font-size: 20px;
                font-weight: $txt-600;
                font-family: $f-noto_serif_myanmar_regular;
            }
        }
    }
}
.sb-section-3{
    padding:0 0 180px 0;
    position: relative;
    .sb_img{
        position: absolute;
        width: 40%;
        right: 0;
        top: 0;
        img{
            width: 100%;
        }
    }
    .flex_left{
        display: flex;
        justify-content: flex-start;
        .sb__card{
            margin-top: 160px;
            .sb__card__content{
                padding-right: 240px;
            }
        }
    }
    .sb__card{
        background-color: $gray-500;
        width: 80%;
        padding: 70px 80px;
        h3{
            font-size: 25px;
            line-height: 50px;
            font-weight: $txt-500;
            font-family: $f-noto_serif_myanmar_regular;
            margin-bottom: 50px;
        }
        p{
            line-height: 40px;
        }
        .sb__card__btn{
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid #000;
            text-align: right;
            span{
                font-size: 20px;
                font-weight: $txt-600;
                font-family: $f-noto_serif_myanmar_regular;
            }
        }
    }
}
.sb-section-4{
    padding-bottom: 180px;
    .sb__card{
        width: 48%;
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        .sb__card__img{
            width: 50%;
            img{
                width: 100%;
            }
        }
        .sb__card__content{
            width: 50%;
            padding:0 30px;
            p{
                line-height: 40px;
                font-size: 16px;
            }
            .sb__card__bottom{
                border-top: 1px solid #000;
                margin-top: 65px;
                padding-top: 20px;
                text-align: right;
            }
        }
    }
}
@media all and (min-width:1024px) and (max-width:1440px) {
    .sb_brain-section {
        padding: 100px 0;
    
        .sb_brain_inner {
            position: relative;
            .sb_brain__card {
                width: 60%;
                h3 {
                    margin-top: 150px;
                    margin-bottom: 30px;
                    
                }
                p{
                    font-size: 12px;
                    span{
                        margin-bottom: 30px;
                        &::after {
                            content: '';
                            height: 40px;
                            background-color: $white-400;
                            width: 105%;
                            display: block;
                            position: absolute;
                            top: -20px;
                            left: 0;
                            z-index: -1;
                        }
                    }
                }
                .sb_brain__card__sig{
                    margin-top: 50px;
                    span{
                        display: block;
                        margin-bottom: 20px;
                    }
                    h4{
                        font-family: $f-noto_serif_myanmar_regular;
                        font-size: 30px;
                        font-weight: $txt-500;
                        line-height: 50px;
                    }
                }
    
                &--img {
                    position: absolute;
                    top: -160px;
                    right: 0;
                    width: 70%;
                    z-index: -1;
    
                    img {
                        width: 100%;
                    }
                }
    
            }
        }
    }
    
    .sb-section-2{
        padding:0 0 180px 0;
        .sb_img{
            width: 45%;
            
        }
        .flex_right{
            display: flex;
            justify-content: flex-end;
            .sb__card{
                margin-top: 90px;
                .sb__card__content{
                    padding-left: 240px;
                }
            }
        }
        .sb__card{
            background-color: $gray-500;
            width: 80%;
            padding: 70px 80px;
            h3{
                font-size: 18px;
                line-height: 40px;
                margin-bottom: 20px;
            }
            p{
                line-height: 32px;
                font-size: 13px;
            }
            
        }
    }
    .sb-section-3{
        .sb_img{
            
            width: 45%;
            
        }
        .flex_left{
            display: flex;
            justify-content: flex-start;
            .sb__card{
                margin-top: 90px;
                
            }
        }
        .sb__card{
            background-color: $gray-500;
            width: 80%;
            padding: 70px 80px;
            h3{
                font-size: 18px;
                line-height: 32px;
                margin-bottom: 30px;
            }
            p{
                line-height: 32px;
                font-size: 13px;
            }
            
        }
    }
    .sb-section-4{
       
        .sb__card{
            
            .sb__card__content{
                p{
                    line-height: 32px;
                    font-size: 12px;
                }
                .sb__card__bottom{
                    margin-top: 20px;
                }
            }
        }
    }
}

@media all and (max-width:991px) {
    .sb_brain-section {
        padding: 100px 0;
    
        .sb_brain_inner {
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            .sb_brain__card {
                width: 100%;
                h3 {
                    font-size: 16px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    span {
                        margin-bottom: 10px;
                        &::after {
                            display: none;
                        }
                    }
                }
                p{
                    font-size: 12px;
                    line-height: 32px;
                    span{
                        &::after {
                            display: none;
                        }
                    }
                }
                .sb_brain__card__sig{
                    margin-top: 30px;
                    
                }
    
                &--img {
                    position: static;
                    width: 100%;
    
                    img {
                        width: 100%;
                    }
                }
    
            }
        }
    }
    
    .sb-section-2{
        padding:0 0 100px 0;
        position: relative;
        .sb_img{
            position: static;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .flex_right{
            justify-content: flex-start;
            .sb__card{
                margin-top: 0px;
                .sb__card__content{
                    padding-left: 0px;
                }
            }
        }
        .sb__card{
            background-color: $gray-500;
            width: 100%;
            padding: 30px;
            h3{
                font-size: 16px;
                line-height: 32px;
            }
            p{
                line-height: 32px;
                font-size: 12px;
            }
           
        }
    }
    .sb-section-3{
        padding:0 0 100px 0;
        position: relative;
        .sb_img{
            position: static;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .flex_left{
            .sb__card{
                margin-top: 0px;
                .sb__card__content{
                    padding-right: 0px;
                }
            }
        }
        .sb__card{
            background-color: $gray-500;
            width: 100%;
            padding:30px;
            h3{
                font-size: 16px;
                line-height: 32px;
            }
            p{
                line-height:32px;
                font-size: 12px;
            }
            
        }
    }
    .sb-section-4{
        padding-bottom: 100px;
        .sb__card{
            width: 100%;
            margin-bottom: 40px;
            .sb__card__img{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .sb__card__content{
                width: 100%;
                padding:30px 0;
                p{
                    line-height: 32px;
                    font-size: 12px;
                }
                
            }
        }
    }
}