.feature-card{
    padding: 50px 0;
    .feature-card__head{
        img{
            width: 60px;
            margin-bottom: 15px;
        }
        p{
            font-size: 24px;
            color: $black;
            font-family: $font-stack-sen;
        }
    }
    .feature-card__content{
        margin-bottom: 30px;
        h3{
            font-size: 20px;
            color: $black;
            margin-bottom: 10px;
            font-family: $font-stack-sen;
            font-weight: bold;
        }
        p{
            color: $black;
        }
    }
}
