*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a,a:hover{
    text-decoration: none;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
a:focus{
    outline: 0;
}
.btn{
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    height: 44px;
}
.dropdown-box .btn{
    text-align: left;
}
.btn.btn-small{
    width: 125px;
    font-size: 12px;
}
.btn.btn-medium{
    width: 165px;
    font-size: 12px;
}
.btn.btn-large{
    width: 175px;
    font-size: 12px;
}
.dropdown-toggle::after {
	float: right;
	margin-top: 10px;
}
button:focus{
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;   
}
.form-control{
    height: 44px;
}
.form-control:focus {
	background-color: #fff;
	outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #E8E7F5;
    color: #B0B0BC;
}
.btn.focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow:none;
            box-shadow:none;
}
.dropdown-item:focus, 
.dropdown-item:hover {
	color:#4B4B4B;
	text-decoration: none;
	background-color: transparent;
}
ol,ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
    color: #4B4B4B;
    background-color: #FBFBFC;
    font-family: 'Segoe UI', sans-serif;
    
}
@media all and (min-width:1440px){
    body{
        font-size: 15px;
        line-height: 25px;
        
    }
}
/* ====== Sidebar ======== */

.sidebar-wrap {
	background-color: #fff;
	border-right: 1px solid rgba(0,0,0,0.1);
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 100%;
}

/* sidebar__logo */
.sidebar__logo{
    padding: 30px 0 60px 0;
}

.sidebar__navigation ul li{
    display: block;
    padding: 5px 0;
    margin-bottom: 25px;
    
    position: relative;
}
.sidebar__navigation ul li:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
    border-radius: 50px;
    content: '';
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.sidebar__navigation ul li.active:after{
    background-color: #FF9500;
}
.sidebar__navigation ul li.active a{
    color: #FF9500;
}
.sidebar__navigation ul li:hover:after{
    background-color: #FF9500;
}
.sidebar__navigation ul li a{
    display: block;
    font-size: 13px;
    color: #8F8E9E;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.sidebar__navigation ul li a i{
    font-size: 16px;
}
.sidebar__navigation ul li a:hover{
    color: #FF9500;
}
.sidebar__navigation ul li a span{
    display: block;
}
.expand-navbar {
	position: absolute;
	top: 0px;
	right: 0;
	width: 20px;
	height: 18px;
	background-color: #ddd;
	color: #333333;
	font-size: 16px;
	display: block;
	line-height: 15px;
}
.expand-navbar:hover{
    background-color: #FF9500;
    color: #fff;
}
@media all and (max-width:991px){
    .expand-navbar {
        display: none;
    }
}
/* Navbar Expand */

.sidebar-wrap.small-nav{
    width: 4% !important;
}
.sidebar-wrap.small-nav .sidebar__logo img{
    display: none;
}
.sidebar-wrap.small-nav .sidebar__navigation ul li a span.nav-label {
	display: none;
}

.main-content.big-main-content{
    max-width: 96% !important;
    margin-left: 4% !important;
    flex: 0 0 96% !important;
    
}

.log-off{
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.log-off a {
	display: block;
	width: 45px;
	height: 45px;
	background-color: #F9F9F9;
	color: #8F8E9E;
	font-size: 16px;
	margin: auto;
    padding-top: 10px;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.log-off a:hover{
    background-color: #FF9500;
    color: #fff;
}
/* Main Content */
.main-content{
    margin-left: 8.333333%;
}
/* .page-inner */
.page-inner{
    padding: 30px;
}
.page__title h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    color: #373737;
}
/* section-head */
.section-head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0;
}
.section-head__left{
    width: 40%;
}
.section-head__right{
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.search-box .form-inline{
    width: 330px;
}
.search-btn{
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #E8E7F5;
    font-size: 13px;
    color: #B0B0BC;
    background-color: #FFFFFF;
    width: 12%;
    border-radius: 3px 0 0 3px;
}
.search-btn:hover{
    color: #FF9500;
}
.form-control.search-form{
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #E8E7F5;
    font-size: 13px;
    color: #B0B0BC;
    background-color: #FFFFFF;
    width: 88%;
    border-radius: 0 3px 3px 0;
    padding: 5px;
}

.page-prev a{
    font-size: 25px;
    font-weight: 600;
    color: #373737;
}
.page-prev a i{
    margin-right: 20px;
}
.dropdown-btn{
    border-width: 1px;
    border-style: solid;
    border-color: #E8E7F5;
    font-size: 13px;
    color: #4B4B4B;
    background-color: #FFFFFF;
    border-radius: 3px;
}
.dropdown-menu {
	min-width: 10rem;
	padding:0;
	margin: 52px 0 0 0;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #E8E7F5;
	border-radius: 3px;
}
.dropdown-small.dropdown-menu{
    min-width: 125px !important
}
.dropdown-small.dropdown-medium{
    min-width: 165px !important
}
.dropdown-item{
    font-size: 13px;
    color: #4B4B4B;
    padding:3px 13px;
}

.dropdown-menu h3{
    font-size: 12px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #4B4B4B;
    padding: 10px;
}
.dropdown-menu a i{
    margin-right: 5px;
}
/* =========== Dropdown Animation===== */
@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      -webkit-transform: translateY(1rem);
              transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      -webkit-transform:translateY(0rem);
              transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
              transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }


  /* btn-yellow */
.btn-yellow{
    background-color: #FF9500;
    color: #fff;
}
.btn-yellow:hover{
    color: #fff;
}
.btn-white{
    border-width: 1px;
	border-style: solid;
	border-color: #E8E7F5;
	font-size: 13px;
	color: #4B4B4B;
	background-color: #FFFFFF;
	border-radius: 3px;
}

/* ======= table-wrap =====*/
.table-wrap tbody tr{
    position: relative;
    background-color: #fff;
}
.table-wrap.has-border-left tbody tr::after{
    content: '';
    width: 3px;
    height: 100%;
    background-color: #FF9500;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
.table-wrap tbody tr.box-shadow{
    -webkit-box-shadow: 0 6px 10px rgba(0,0,0,0.06);
            box-shadow: 0 6px 10px rgba(0,0,0,0.06);
    z-index: 9999;
}
.table-wrap.has-border-left tbody tr.box-shadow::after{
    border-radius: 50px 50px 0 0
}
.table-wrap tbody tr.full-row{
    display: none;
}
.table-wrap tbody tr.full-row.show-row{
    display: table-row;
}
.table-wrap.has-border-left tbody tr.full-row:after{
    border-radius: 0 0 50px 50px;
}
tr.tr-spacer{
    height: 15px;
    background-color: transparent !important;
}
tr.tr-spacer::after{
    display: none;
}
.table-wrap tbody tr td:last-child{
    text-align: right;
}
.table-borderless thead th{
    font-weight: 600;
}
.table-borderless thead th:last-child{
    text-align: right;
}
.table-borderless thead th:last-child span{
    text-decoration: underline;
    cursor: pointer;
}
.status-wrap{
    border-radius: 25px;
    font-size: 12px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px 8px;
}
.status-pending {
    background-color: #FFF8EF;
    color: #FF9500;
}
.status-pending span{
    background-color: #FF9500;
}
.status-approved{
    background-color: #EFFFF4;
    color: #53E880;
}
.status-approved span{
    background-color: #53E880;
}
.status-wrap span{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    display: block;
    margin-right: 4px;
}
.table-btns .btn {
	width: 30px;
	height: 30px;
	margin: 0 4px;
	border-radius: 50px;
	background-color: #F9F9F9;
	font-size: 12px;
	padding-top: 4px;
    text-align: center;
    padding: 0;
}
.btn.btn-edit{
    background-color: #4B4B4B;
    color: #ffffff;
}
.btn.btn-close{
    background-color: #FF5151;
    color: #ffff;
}
.btn.btn-select{
    background-color: #53E880;
    color: #fff;
}
.last-td{
    width: 100% !important;
    display: block;
}

.table__inner{
    text-align: left;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.table__inner--left{
    width: 6%;
}
.left__card{
    height: 65px;
    padding-top: 10px;
    
}
.left__card p{
    font-size: 11px;
    line-height: 16px;
    color: #4B4B4B;
}
.table__inner--right{
    width: 92%;
}
.right__card{
    width: 100%;
}
.border-b-r{
    border-width: 0 1px 1px 0;
    border-style: dashed;
    border-color: #ddd;
}
.border-r{
    border-width: 0 1px 0 0;
    border-style: dashed;
    border-color: #ddd;
}
.right__card--box{
    text-align: center;
    height: 65px;
    padding-top: 10px;
}
.right__card--box:nth-child(1){
    padding-top: 0;
    text-align: left;
    padding-left: 10px;
}
.right__card--box span{
    font-size: 11px;
    line-height: 16px;
    display: block;
    color: #4B4B4B;
}
.bg-yellow{
    background-color: #FF9500;
    color: #fff;
    display: inline-block;
    border-radius: 3px;
}
.right__card--box .bg-yellow{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:12px;
    text-align: left;
    font-size: 10px;
    width: auto;
    margin-right: 10px;
}
.right__card--box .bg-yellow span.white-text {
	font-size: 10px;
	color: #fff;
	line-height: 10px;
	padding-left: 4px;
}
.bg-white{
    background-color: #fff;
}
.right__card--box span.bg-circle i {
	width: 24px;
	height: 24px;
	font-size: 10px;
	color: #FF9500 !important;
	border-radius: 20px;
	text-align: center;
	display: block;
	padding-top: 7px;
	background-color: #fff;
}
.right__card--box span strong{
    display: block;
    line-height: 15px;
}
.percentage-box{
    width: 80px;
    height: 34px;
    background-color: #343434;
    border-radius: 3px;
    margin:10px auto auto auto;
    padding: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.percentage-box::after {
	content: '';
	width: 0;
	height: 0;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-bottom: 7px solid #343434;
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -5px;
}
.percentage-box span {
	width: 50%;
	text-align: center;
	padding: 5px 0;
}
.percentage__ver{
    background-color: #FF9500;
    color: #fff !important;
    border-radius: 2px;
}
.percentage__const{
    color: #fff !important;
}
.total-box{
    padding-top: 10px;
}
.total-box span{
    color: #FF9500 !important;
    font-weight: 600;
    font-size: 14px !important;
}

/* ====Slider Range==== */
.sldier-box{
    position: relative;
}
.range {
    width: 100%;
    height: 10px;
    border-radius: 25px;
    position: absolute;
    top: -75px;
    left: 0;
}
  
  .range input {
    width: 100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
  }
  .range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 24px;
    margin: -8px 0  0;
    background: #FF9500;
    cursor: pointer;
    border: 0 !important;
  }
  .range input::-moz-range-thumb {
    width: 5px;
    height: 24px;
    margin: -8px 0  0;
    background: #FF9500;
    cursor: pointer;
    border: 0 !important;
  }
  .range input::-ms-thumb {
    width: 2px;
    height: 24px;
    margin: -8px 0  0;
    background: #FF9500;
    cursor: pointer;
    border: 0 !important;
  }
  .range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #F9F9F9;
    border-radius:25px
  }
  .range input::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #F9F9F9;
    border-radius:25px
  }
  .range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #F9F9F9;
  }
  .range input:focus {
    background: none;
    outline: none;
  }
  .range input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  .range-labels {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .range-labels li {
    position: relative;
    float: left;
    text-align: center;
    color: #CECECE;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    padding-top: 20px;
  }
.range-labels li::before {
	font-family: "Font Awesome 5 Pro";
	position: absolute;
	top: -86px;
	left: -13px;
	content: "\f00c";
	margin: 0 auto;
	width: 26px;
	height: 26px;
	background: #FFAD3A;
	border-radius: 50%;
	color: #fff;
	-webkit-box-shadow: 0 0px 11px rgba(0,0,0,0.3);
	        box-shadow: 0 0px 11px rgba(0,0,0,0.3);
	border: 3px solid #ffff;
	text-align: center;
	padding: 0;
	line-height: 20px;
	font-size: 12px;
}
.range-labels .active {
    color: #FFAD3A;
}
.range-labels .selected::before {
    background: #FFAD3A;
}
.range-labels .active.selected::before {
    display: none;
}



/* user-card__inner */
.user-card-date span{
    font-size: 15px;
    font-weight: 600;
    color: #B0B0BC;
}
.user-card-date span i{
    margin-right: 10px;
}
.user-card__inner{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
}
.profile-card__info{
    padding: 0 30px;
}
.profile-card{
    border-radius: 10px;
    background-color: #FCFCFC;
    text-align: center;
    height: 285px;
    padding: 40px 50px;
}
.profile-card h3{
    font-size: 17px;
    color: #4B4B4B;
    font-weight: 600;
    margin: 20px 0;
}
.profile-card .status-wrap{
    max-width: 120px;
    margin: auto;
}
.responsabile-profile{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.responsabile-profile__info{
    padding-left: 15px;
}
.responsabile-profile__info h5{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}
.responsabile-profile__info h3{
    font-size: 16px;
    font-weight: 600;
    margin:10px 0 0 0;
}
.profile-card__mid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
    margin: 20px 0;
    border-width: 2px 0 2px 0;
    border-style: dashed;
    border-color: #E8E7F5;
}
.single-mid__card h3{
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 10px 0;
    color: #4B4B4B;
}
.single-mid__card p{
    font-size: 13px;
    margin: 0;
    color: #4B4B4B;
}
.profile-note__card h3{
    font-size: 15px;
    font-weight: 600;
    color: #4B4B4B;
    margin-bottom: 5px;
}
.full-row.in-user-card{
    display: table-row !important;
}
.table-section-title{
    text-align: left;
}
.table-section-title h3 {
	font-size: 15px;
	font-weight: 600;
	color: #4B4B4B;
	padding: 10px 0 0 20px;
}
.right__card--box {
    position: relative;
}
.right__card--box:hover .section-edit {
    opacity: 1;
}
.section-edit {
	position: absolute;
	right: -9px;
	top: -12px;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}
.section-edit a {
	width: 22px;
	height: 22px;
	display: inline-block;
	border-radius: 20px;
	background-color: #fff;
	color: #8F8E9E;
	font-size: 10px;
	text-align: center;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
	        box-shadow: 0 0 10px rgba(0,0,0,0.2);
	line-height: 20px;
}


/* Import Page */
.import__inner{
    padding: 30px !important;
    background-color: #ffffff;
}
.imported-file__inner{
    padding: 30px !important;
    border-left: 1px solid #E8E7F5;
}
.section__title h3{
    font-size: 25px;
    font-weight: 600;
    color: #373737;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.drag-box{
    border: 1px solid #E8E7F5;
    border-radius: 3px;
    height: 440px;
    width: 100%;
    text-align: center;
}
.content-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.drag-box span{
    display: block;
    font-size: 25px;
    font-weight: 300;
    color: #4B4B4B;
    margin: 40px auto;
}
/* Custom Uplaod Button */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
  
.btn-uplaod {
    border: 1px solid #E8E7F5;
    color: #B0B0BC;
    background-color: #fff;
    border-radius: 3px;
    font-size: 13px;
    width: 100%;
    cursor: pointer;
}
.btn-uplaod i{
    margin-right: 10px;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

  /* End  */
.no-border-left.table-wrap tbody tr::after {
	display: none;
}
.imported-file__list{
    max-height: 600px;
    overflow-y: auto;
    margin-bottom: 50px;
}
.add-template-box{
    background-color: #fff;
    border-right: 1px solid #E8E7F5;
    padding: 30px !important;
}
.template-add-box__inner{
    padding-top: 40px;
}
.template-add-box__inner h3{
    font-size: 14px;
    font-weight: 700;
    color: #373737;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.tamplate-add__card{
    margin-bottom: 20px;
}
.tamplate-add__card label{
    font-size: 12px;
    color: #4B4B4B;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
.tamplate-add__card label i{
    font-weight: 400;
    margin-right: 5px;
}

/*  ========================= */
.select2-results__option .wrap:before{
    font-family:fontAwesome;
    color:#999;
    content:"\f096";
    width:25px;
    height:25px;
    padding-right: 10px;
    
}
.select2-results__option[aria-selected=true] .wrap:before{
    content:"\f14a";
}


.has-blank{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blank-template{
    width: 500px;
    height: 400px;
    border: 1px solid #E8E7F5;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blank-template i{
    font-size: 32px;
    color: #B0B0BC;
    margin-bottom: 40px;
}
.blank-template  h3{
    font-size: 25px;
    font-weight: 300;
    display: block;
}

.has-template{
    padding: 30px !important;
}
.template-main-box{
    background-color: #fff;
    margin-top: 40px;
    padding: 20px;
}
.template__head--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.template__head--title h3{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #373737;
}
.template-head-btns .btn {
	width: 30px;
	height: 30px;
	margin: 0 4px;
	border-radius: 50px;
	background-color: #F9F9F9;
	font-size: 12px;
	text-align: center;
	padding: 4px 0 0 0;
}
.template__head-ref{
    display: flex;
    justify-content: space-between;
    padding:0 0 15px 0;
    border-bottom: 1px dashed #E8E7F5;
}
.template__ref--card p{
    margin: 0;
}

.objective__inner{
    margin-top: 20px;
}
.objective__inner h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.objective-table__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    padding: 10px;
}
.objective-table__head h4{
    font-size: 14px;
    font-weight: 600;
    margin:0;
}
.objective__card{
    background-color: #FCFCFC;
    margin-bottom: 20px;
}

.objective__card .table td, 
.objective__card .table th {
    padding: 4px 10px;
    font-size: 12px;
}
.objective__card .table tr{
    background-color: transparent;
}
.objective__card .table td:last-child{
    text-align: left;
}
.objective__card .table th:last-child{
    text-align: left;
}
.add-objective-btn .objective-btn{
    width: 100%;
    border: 1px solid #FFAD3A;
    text-align: center;
    color: #FFAD3A;
    font-size: 13px;
}
.select2-container {
	width: 100% !important;
}
.btn-logic{
    border: 1px solid #ced4da;
    font-size: 12px;
    color: #B0B0BC;
    width: 100%;
}
.btn-logic:hover{
    background-color: #FF9500;
    border-color: #FF9500;
    color: #fff;
}
.btn-logic:focus{
    background-color: #FF9500;
    border-color: #FF9500;
    color: #fff;
}
.form-control {
	font-size: 13px;
}
#objective-modal .template-add-box__inner{
    padding:20px 20px 0 20px;
}
#objective-modal .template-add-box__inner h3{
    margin-bottom: 10px;
}


/* login__inner */
.login-wrap{
    background-color: #fff;
    overflow: hidden;
    
}
.login__inner {
    padding: 60px 60px 30px 60px;
    max-width: 480px;
}
.login__inner .logo-wel{
    margin-bottom: 30px;
}
.login__inner h3{
    font-size: 40px;
    color: #B0B0BC;
    font-weight: 600;
}
.login__inner h3 strong{
    font-weight: 600;
    color: #373737;
}
.login__inner p{
    margin-bottom: 40px;
    color: #373737;
}
.login__card{
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    float: left;
    width: 360px;
}
.login__card label {
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: #8F8E9E;
	position: absolute;
	left: 20px;
    top: 4px;
    transition: top 300ms;
}
.login__card input.big-filed {
	height: 63px;
	width: 360px;
	border: 1px solid #E8E7F5;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 600;
    padding: 26px 20px 10px 20px;
    transition: all 300ms;
}
.login__card input.big-filed:focus {
    box-shadow: 0 5px 7px rgba(0,0,0,0.1);
    border-color: #FF9500;
}

.see-password {
	display: block;
	font-size: 12px;
	font-weight: 600;
	color: #8F8E9E;
	position: absolute;
	right: 20px;
	top: 21px;
}
.login__card a.forget-pass{
    display: block;
	font-size: 12px;
	font-weight: 600;
	color: #8F8E9E;
}
.login__card label.custom-control-label{
    white-space: nowrap;
    left: 26px;
    top: 0;
}
.btn.btn-login{
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 0 6px rgba(255, 149, 0, 0.2);
}
.copy-right{
    float: left;
    width: 100%;
    margin-top: 50px;
}
.copy-right p{
    color: #8F8E9E;
}
.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: #FF9500;
	background-color: #FF9500;
}
.welcome-img{
    height: 100vh;
}
.welcome-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.table-paggination{
    margin-top: 20px;
}
.table-paggination ul{
    text-align: right;
}
.table-paggination ul li{
    display: inline-block;
}
.table-paggination ul li a {
	font-size: 13px;
	font-weight: 600;
	padding: 2px 0 0 0;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	color: #fff;
	background-color: #4B4B4B;
    text-align: center;
    text-transform: uppercase;
    margin: 0 3px;
}
.table-paggination ul li a:hover{
    background-color: #FFAD3A;
    color: #fff;
}
.table-paggination ul li.active a:hover{
    background-color: #FFAD3A;
    color: #fff;
}
.table-paggination ul li:first-child a{
    background-color: transparent;
    color: #333333;
    width: auto;
    margin-right: 10px;
}
.table-paggination ul li:last-child a{
    background-color: transparent;
    color: #333333;
    width: auto;
    margin-left: 10px;
}

.custom-select{
    height: 44px;
    font-size: 13px;
}
/* ========== Responsive CSS ======== */
@media all and (max-width:991px){
    body{
        line-height: 18px;
    }
    .login__inner {
        padding: 30px;
    }
    .login__card {
        width: 100%;
    }
    .login__card input.big-filed {
        height: 63px;
        width: 100%;
    }
    .welcome-img {
        height: 300px;
    }
    .sidebar__logo{
        display: none;
    }
    .sidebar__navigation {
        margin-top: 40px;
    }
    .sidebar__navigation ul li a span.nav-label {
        display: none;
    }
    .log-off a {
        width: 26px;
        height: 26px;
        font-size: 13px;
        padding-top: 3px;
    }
    .page-inner {
        padding: 30px 20px;
    }
    .page__title h3 {
        font-size: 18px;
    }
    .section-head__left {
        width: 100%;
        margin-bottom: 10px;
    }
    .section-head__right {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .dropdown-box.ml-3 {
        margin: 0 0 10px 0 !important;
    }
    .dropdown-box {
        width: 48%;
    }
    .btn.btn-medium {
        width: 100%;
    }
    .btn.btn-small {
        width: 100%;
    }
    .btn.btn-large {
        width: 100%;
    }
    .btn-box.ml-3{
        margin:0 0 10px 0 !important;
    }
    .btn-box{
        width: 48%;
    }
    .search-box .form-inline {
        width: 100%;
    }
    .page-prev a {
        font-size: 18px;
    }
    
    .objective__card{
        position: relative;
    }
    .objective-table__head {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .objective__card {
        background-color: #FCFCFC;
        margin-bottom: 20px;
        padding-top: 55px;
    }
    
    .tamplate-add__card .col-md-6{
        margin-bottom: 10px;
    }
    .modal {
        z-index: 99999999999;
    }
    .blank-template {
        width: 200px;
        height: 200px;
    }
    .has-blank{
        padding: 40px 0;
    }
    .blank-template h3 {
        font-size: 16px;
    }
    .blank-template i {
        margin-bottom: 20px;
    }
    .section__title h3 {
        font-size: 18px;
    }
    .drag-box {
        height: 300px;
    }
    .imported-file__inner {
        padding: 20px !important;
        border-top: 1px solid #E8E7F5;
        border-left: none;
    }
    .table-paggination ul li a {
        margin: 0 1px;
    }

    .responsabile-profile {
        margin: 10px 0;
    }
    .profile-card__mid {
        flex-wrap: wrap;
    }
    .profile-card__info {
        padding: 0px;
    }
    .single-mid__card{
        width: 50%;
        margin-bottom: 15px;
    }
    .single-mid__card h3 {
        margin: 0 0 5px 0;
    }
    .table-responsive .table{
        width: 1200px;
    }
    .imported-file__list .table-responsive .table{
        width: 700px !important;
    }
}