.modal-backdrop {
    background: rgba(18, 38, 63, 0.5);
}
.modal-backdrop.show {
    opacity: 1;
}
.modal-dialog {
    margin: 100px auto;
}
.modal-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #12263F;
}
.modal-header {
    padding: 1.2rem 1rem;
    border-bottom: 1px solid #EDF2F9
}

.add_item_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.add_item_box input.form-control{
    border: 1px solid #EDF2F9;
    font-weight: 500;
    font-size: 13px;
    color: #12263F;
    height: 38px;
}
.add_item_box .btn{
    white-space: nowrap;
    margin-left: 20px;
}