$font-family: 'Raleway', sans-serif;

$font-size: 18px;
$line-height:32px;


$font-100:100;
$font-200:200;
$font-300:300;
$font-400:400;
$font-500:500;
$font-600:600;
$font-700:700;
$font-800:800;
$font-900:900;



// colors
$william:#3A606E;
$blue-dianne: #24414D;
$eastern-blue:#1AA39C;
$luxor-gold:#A79531;
$bandicoot:#807D68;
$blue:#0177CE;


$black-200:#282828;
$black-300:#1d1d1d;

$gray-200:#848b8b;
$gray-300:#6e7171;
$gray-500:#e6e6e6;
$gray-600:#6E7272;
$gray-700:#eeeeee;


// Custom Color
$txt-color: $black-200;
$boder-color: rgba(65, 65, 65, 0.5);
$navBG:rgba(36, 65, 77, 0.7);

