*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #12263F;
    background-color: #F7F7FA;
}
.form-control:focus{
    box-shadow: none;
    border-color:#EDF2F9;
}
.custom-select:focus{
    box-shadow: none;
    border-color:#EDF2F9;
}
.form-control::-webkit-input-placeholder { /* Edge */
    color: #12263F;
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #12263F;
}
  
.form-control::placeholder {
    color: #12263F;
}
.btn-primary{
    background: #2C7BE5;
    border: 1px solid #2C7BE5;
}
.btn-outline-primary{
    border: 1px solid #0275D8;
    color: #0275D8;
}

.add-btn{
    border-radius: 4px;
    width: 130px;
    height: 38px;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.add-btn:hover{
    color: #fff;
}

.btn-outline{
    border-radius: 4px;
    height: 38px;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
}
.btn-outline-lg{
    border-radius: 4px;
    height: 42px;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
}

.btn-outline-lg:hover{
    color: #fff;
}
.btn-outline:hover{
    color: #fff;
}
.btn-save-sm{
    border-radius: 4px;
    width: 90px;
    height: 42px;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.btn-save-sm:hover{
    color: #fff;
}

.btn-fill-lg{
    border-radius: 4px;
    width: 180px;
    height: 42px;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.btn-blue-fill-lg:hover{
    color: #fff;
}
.btn-cancel{
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #0275D8;
}
.btn-cancel:hover{
    color: #0275D8;
}

.btn-outline-blue:focus,
.btn-outline-blue:hover{
    background-color: #0275D8;
    color: #fff;
    box-shadow: none;
}

.btn-select{
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    border-radius: 5px;
    width: 100px;
    height: 36px;
    margin: 6px 0;
}
.btn-select:hover{
    color: #fff;
    background-color: #2C7BE5;
}

.btn-selected{
    color: #fff;
    background-color: #2C7BE5; 
}

.btn-outline-sm{
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
}
