$font-family: 'gelion_regular', sans-serif;
$font-size: 16px;
$line-height:28px;
$font-weight:300;


// colors
$green:#A1CE65;
$green-dark:#90B75C;
$black:#000000;
$black-light:#2B2B2B;
$gray: #505251;
$light-gray:#E0E0E0;
$dark-gray:#AFAFAF;
$light-green:#F8FBFF;
$thin-green:#F4F8FF;
$dark:#31353B;
$blue:#164CA7;
$blue-light:#44B5F0;
$dark-white:#F8F8F8;

$bg-green-gradient:linear-gradient(180deg, #F7FFF9 0%, rgba(255, 255, 255, 0) 100%);
// Colors
// Border 

$primary-color:$gray;
$theme-color:$green;

// bootstrap variable overwrite
$primary:$blue;
$green:$green;

// Spacer
$spacer: 1.6rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);


// Border Radius
$border-radius:               4px !default;
$border-radius-lg:           4px !default;
$border-radius-sm:           6px !default;