// Font Family
$f-Prata :'Prata', serif;
$f-noto_serif_myanmar_regular:'Noto Serif Myanmar';
$f-noto_serif_myanmar_semibold:'noto_serif_myanmar_semibold';
$f-bodoni_72_oldstylebook: 'bodoni_72_oldstylebook';
$f-amalfi_coastregular:'amalfi_coastregular';


$font-size: 16px;
$line-height:22px;
$letter-space: 1px;
// Font Weight
$txt-100: 100;
$txt-200: 200;
$txt-300: 300;
$txt-400: 400;
$txt-500: 500;
$txt-600: 600;
$txt-700: 700;
$txt-800: 800;
$txt-900: 900;



// Colors
$black-400:#000000;

$white-400:#ffffff;

$gray-400:#DDDDDD;
$gray-500:#EBEBEB;
$gray-600:#707070;
$gray-700:#8D8D8D;


$bgColor:$white-400;