.page__profile{
    .page_profile__head{
        .page_profile__head__avatar{
            width: 150px;
            height: 150px;
            border-radius: 100px;
            overflow: hidden;
            border: 2px solid $white;
            @include box-shadow(0,3px,6px, rgba(0,0,0,0.16));
            img{
                width: 100%;

            }
        }
        .page_profile__head__desc{
            margin-top: 25px;
            h3{
                font-size: 26px;
                font-weight: $font-normal;
                color: $yellow;
            }
            p{
                font-size: 20px;
                font-weight: $font-normal;
                line-height: 32px;
            }
        }
    }

    .page__tag{
        margin-top: 40px;
        a{
            background-color: $gray;
            color: $text-color;
            font-size: 16px;
            line-height: 22px;
            border-radius: 5px;
            display: inline-flex;
            padding: 8px 15px;
            margin-left: 8px;
            margin-bottom: 8px;
            &:hover{
                background-color: $blue-light;
                color: $white;
            }
            &.read_more_tag{
                background-color: transparent;
                align-items: center;
                color: $yellow;
                i{
                    margin-right: 10px;
                }
            }
        }

    }
}

@media all and (max-width:991px){
    .page__profile{
        .page_profile__head{
            .page_profile__head__avatar{
                width: 100px;
                height: 100px;
                border-radius: 60px;
                
            }
            .page_profile__head__desc{
                margin-top: 25px;
                h3{
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
}