.pagination__section{
    width: 100%;
    &.text-center{
        .pagination{
            justify-content: center;
        }
    }
    .pagination{
        .page-item{
            margin: 0 5px;
            width: 32px;
            height: 32px;
            .page-link{
                border-radius: 6px;
                color: $primary-color;
                &:hover{
                    background-color: $info;
                    color: $white;
                    border-color: $info;
                }
            }
            &.active{
                .page-link{
                    color: $white;
                    background-color: $info;
                    border-color: $info;
                }
            }
            &:last-child{
                width: 60px;
            }
        }
    }
}