.user_info_wrap{
    .user_info__head{
        margin-bottom: 30px;
        .user_info__head__title{
            font-size: 35px;
            font-weight: 600;
            color: $primary;
            margin-bottom: 15px;
        }
        .user_info__head__sub_title{
            color: $dark;
        
        }
    }

    .user_info__box{
        padding: 30px;
    }
}

@media all and (max-width:991px){
    .user_info__box{
        margin-bottom: 50px;
    }
}