
// variables
$font-stack-pri:    'Avenir LT Std';
$font-stack-sen:    'Avenir Regular';

// Colors
$black: #000000;
$white: #ffffff;
$gray-light: #D1D1D1;
$gray-white: #F5F5F5;
$gray: #707070;
$blue: #1A73E8;
$gray-thin: #FAFAFA;
$border: #BEBEBE;
$red:#FF0C0C;
$green:#1BFF13;