/* ==========  Custom WEB FONTS ===========*/
@font-face {
    font-family: "Celias Bold";
    src: url("fonts/Celias.eot");
    src: url("fonts/Celias.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Celias.woff2") format("woff2"), 
    url("fonts/Celias.woff") format("woff"), 
    url("fonts/Celias.ttf") format("truetype"), 
    url("fonts/Celias.svg#Celias Bold") format("svg"); 
}
@font-face {
    font-family: "Celias Regular";
    src: url("fonts/Celias-Regular.eot"); 
    src: url("fonts/Celias-Regular.eot?#iefix") format("embedded-opentype"), 
    url("fonts/Celias-Regular.woff2") format("woff2"), 
    url("fonts/Celias-Regular.woff") format("woff"), 
    url("fonts/Celias-Regular.ttf") format("truetype"), 
    url("fonts/Celias-Regular.svg#Celias Regular") format("svg");
}
@font-face {
    font-family: 'Celias Light';
    src: local('Celias Light'), local('Celias-Light'),
    url('fonts/Celias-Light.woff2') format('woff2'),
    url('fonts/Celias-Light.woff') format('woff'),
    url('fonts/Celias-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Celias Medium';
    src: local('Celias Medium'), local('Celias-Medium'),
    url('fonts/Celias-Medium.woff2') format('woff2'),
    url('fonts/Celias-Medium.woff') format('woff'),
    url('fonts/Celias-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'griffos';
    src: url('fonts/GriffosFont-webfont.eot');
    src: url('fonts/GriffosFont-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/GriffosFont-webfont.woff') format('woff'),
    url('fonts/GriffosFont-webfont.ttf') format('truetype'),
    url('fonts/GriffosFont-webfont.svg#griffosfontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ===== Rest CSS === */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a,
a:hover{
    text-decoration: none;
    outline: 0;
}
ul,
ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
button:focus{
    outline: none
}
body{
    font-family: "Celias Bold", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    background-color: #5741d9;
}
.bg-gray-light{
    background-color: #FBFBFB
}
.bg-red-dark{
    background-color: #FF8B8B
}
.bg-blue-dark{
    background-color: #0D0C52
}
.bg-blue-light{
    background-color: #5409C8
}
.bg-red-light{
    background-color: #FEB58D
}
/* ====== Layout CSS ======== */
.notification__bar{
    text-align: center;
    padding: 10px 10px;
    background-color: #ffffff;
    position: relative;
    z-index: 999999;
}
.notification__bar a{
    color:#5741d9;
    font-size: 10px;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.notification__bar a i {
    font-size: 20px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-right: 10px;
}
.header-section{
    position: relative
}
.header-full-img{
    background-image: url('images/hero-bg.jpg');
    height: 850px;
    background-size: cover;
    background-position: 0 30%;
}
.custom__nav{
    padding: 30px 50px
}
.custom__nav.expand{
    background-color: #5741d9;
}
.navbar-light .navbar-brand {
    color: #ffffff;
    margin-right: 50px;
}
.nav-item{
    margin: 0 15px
}
.navbar-light .navbar-nav .nav-link {
    color:#ffffff;
    font-size: 13px;
    position: relative;
}
.navbar-light .navbar-nav .nav-link:after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    -webkit-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}
.navbar-light .navbar-nav .nav-link.add_line:after{
    width: 100%
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color:#ffffff
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color:#ffffff
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0
}
.user__head .btn{
    margin-left: 15px
}
.btn{
    font-size: 11px;
    line-height: 11px;
    border-radius: 25px;
    padding: 11px 18px;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.btn-outline-white{
    border: 2px solid #ffffff;
    color: #ffffff;
}
.btn-outline-white:hover{
    opacity: 0.7;
    color: #ffffff;
}
.btn-fill-white{
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: #5741d9;
}
.btn-fill-white:hover{
    opacity: 0.7;
    color: #5741d9;
}

/* ======== Hero Content======== */
.hero__inner{
    max-width: 70%;
    margin: auto;
    padding-top: 120px;
}
.hero__inner h3{
    font-size: 45px;
    line-height: 55px;
    color: #ffffff;
    letter-spacing: -2px;
    max-width: 550px;
}
.hero__inner h3 span{
    font-family: 'griffos';
    font-weight: normal;
    line-height: 52px;
    font-size: 54px;
}
.hero__inner .btn{
    margin-top: 30px
}
.btn-fill-blue{
    background-color:#5741D9;
    color: #ffffff;
}
.btn-big{
    font-size: 18px;
    padding: 15px 30px;
}
.btn-fill-blue:hover{
    color: #ffffff;
    opacity: 0.7;
}
.scroll-down {
    font-size: 10px;
    bottom: 200px;
    z-index: 2;
    left: 100px;
    position: absolute;
    left: 0;
    -webkit-transform: rotate(-90deg) translate(0, -50%);
        -ms-transform: rotate(-90deg) translate(0, -50%);
            transform: rotate(-90deg) translate(0, -50%);
    display: inline-block;
    width: 160px;
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
    line-height: 24px;
    height: 24px;
    padding: 0;
}
.scroll-down span {
    opacity: 0.36;
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}
.scroll-down:hover{
    color: #ffffff
}
.scroll-down:hover span{
    opacity: 1
}
.scroll-down i{
    font-size: 30px;
    -webkit-transform: rotate(90deg) translate(0, 30px);
        -ms-transform: rotate(90deg) translate(0, 30px);
            transform: rotate(90deg) translate(0, 30px);
    -webkit-transition: -webkit-transform 0.2s linear 0s;
    transition: -webkit-transform 0.2s linear 0s;
    -o-transition: transform 0.2s linear 0s;
    transition: transform 0.2s linear 0s;
    transition: transform 0.2s linear 0s, -webkit-transform 0.2s linear 0s;
    position: absolute;
    top: -2px;
    left: 0;
}
.scroll-down:hover i{
    -webkit-transform: rotate(90deg) translate(0, 50px);
        -ms-transform: rotate(90deg) translate(0, 50px);
            transform: rotate(90deg) translate(0, 50px);
}

/* ====== Mobile and Table CSS  max size 991px ========= */
@media all and (max-width:991px){
    .notification__bar a i {
        display: none
    }
    .custom__nav {
        padding:20px
    }
    .navbar-light .navbar-toggler {
        color: #ffffff;
        border-color: transparent;
        font-size: 30px;
    }
    .nav-item {
        margin:20px 0
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 32px;
        line-height: 32px;
    }
    .navbar-nav{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .user__head .btn {
        width: 44%
    }
    .navbar-light .navbar-nav .nav-link.add_line:after {
        display: none
    }
}


/* ======= Who We are =========*/
.space-100{
    padding: 100px 0
}
.section__head-1{
    margin-bottom: 55px
}
.section__head-1 h3{
    font-size: 28px;
    line-height: 36px;
    color: #5741d9;
}
.who-we-are .section__head-1 h3{
    max-width: 732px
}
.section__head-1 h5{
    font-size: 33px;
    line-height: 36px;
    color: #000000;
    font-family: 'griffos';
}
.section__head-1 h3 span{
    font-size: 33px;
    line-height: 36px;
    color: #000000;
    font-family: 'griffos';
}
.card__box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.card__item{
    width: 214px;
    height: 270px;
    border-radius: 10px;
    padding: 20px 15px;
    color: #ffffff;
    font-size: 20px;
    line-height: 26px;
    -webkit-box-shadow: 0 15px 31px 0 rgba(0,7,92,0.38);
            box-shadow: 0 15px 31px 0 rgba(0,7,92,0.38);
    -webkit-transition: height 100ms ease-in-out;
    -o-transition: height 100ms ease-in-out;
    transition: height 100ms ease-in-out;
}
.card__item--active{
    height:290px
}
.card__item:hover{
    color: rgba(255,255,255,0.7);
    line-height:26.8px ;
}
.card__item:nth-child(1){
    background-color: #5741D9
}
.card__item:nth-child(2){
    background-color: #43196F
}
.card__item:nth-child(3){
    background-color: #0385E6
}
.card__item:nth-child(4){
    background-color: #DCA3C8
}

/* ====== Section content ======== */
.section__head-2{
    margin-bottom: 30px
}
.section__head-2 h3{
    font-size: 33px;
    line-height: 34px;
    display: inline-block;
}
.section__head-2 h3 strong{
    font-family: "Celias Bold";
    font-size: 28px;
    line-height: 34px;
}
.section__head-2 h3{
    font-family: 'griffos';
    display: inline-block;
}
.section__img img {
    width: 108%
}
.new-to-cry .section__img img {
    margin-left: -50px
}
.section__inner--content p{
    font-family: "Celias Regular"
}
.section__inner--content p strong{
    font-family: "Celias Bold"
}
.cry-exchange .section__img img {
    margin-left: -50px
}

/*========== Footer Section ========= */
.footer__card h3{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 30px;
    letter-spacing: -1.2px;
}
.footer__card h4{
    font-size: 23px;
    letter-spacing: -1.2px;
    opacity: 0.48;
    margin: 0 0 12px 0;
    display: block;
    margin-bottom: 15px;
}
.footer_btns .btn{
    width: 70%;
    margin-bottom: 15px;
}
.footer__card li{
    display: block
}
.footer__card ul li a{
    display: block;
    color: #ffffff;
    font-size: 12px;
    line-height: 22px;
    -webkit-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
.footer__card ul li a:hover{
    opacity: 0.48
}
.small__footer__box{
    margin: 40px 0 70px 0;
    border-top: 1px solid rgba(255,255,255,0.1);
}
.small__footer{
    padding: 20px 0
}
.social__icon li{
    display: inline-block
}
.social__icon li a{
    display: block;
    width: 42px;
    height: 42px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 100%;
    border: 3px solid #ffffff;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    margin: 0 13px 0 0;
    -webkit-transition: opacity 0.2s linear 0s;
    -o-transition: opacity 0.2s linear 0s;
    transition: opacity 0.2s linear 0s;
    text-align: center;
    padding: 6px 0 0 0;
}
.social__icon li a:hover{
    opacity: 0.7
}
.small__footer p{
    font-size: 10px;
    opacity: 0.75;
    line-height: 16px;
    letter-spacing: 0.3px;
    font-family: "Celias Regular";
    margin: 0;
}
.footer_nav_sm{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer_nav_sm li{
    margin: 0;
    width: 50%;
}
.footer_nav_sm li a{
    display: block;
    font-size: 10px;
    opacity: 0.75;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: #ffffff;
    font-family: "Celias Regular";
    text-decoration: underline;
}
.footer__lang label{
    font-size: 11px;
    opacity: 0.75;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin-right: 5px;
}
.footer__lang select{
    background-color: transparent;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #ffffff;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: #ffffff;
    padding: 4px 0;
}
.footer__lang select option{
    color: #000
}
/* ====== Image Panel ===== */
.image__panel img{
    width: 100%
}
.create__account{
    background-color: #ffffff;
    padding: 50px 100px;
}
.border-b{
    border-bottom: 1px solid #241F65
}
.account__user__head{
    text-align: center;
    padding: 0 20px 60px 0;
}
.account__user__head h3{
    font-size: 32px;
    line-height: 32px;
    color:#41309e;
    font-family: 'Celias Light';
    font-weight: 300;
}
.account__user__head p{
    font-size: 15px;
    line-height: 21px;
    color: #4f4f4f;
    font-family: "Celias Regular";
}
.single__form{
    position: relative;
    margin-bottom: 20px;
}
.single__form .form-control{
    height: 3rem;
    background-color: transparent;
    font-size: 14px;
    padding: 15px;
    font-family: "Celias Regular";
}
.single__form .form-control:focus{
    -webkit-box-shadow: none;
            box-shadow: none;
    border-color: #41309e;
    -webkit-box-shadow: 0 0 5px rgba(65, 48, 158, 0.5);
            box-shadow: 0 0 5px rgba(65, 48, 158, 0.5);
}
.single__form label{
    cursor: text;
    font-family: "Celias Regular";
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 16px;
    background-color: transparent;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.single__form.label_top label{
    line-height: 1.5rem;
    color: #41309e;
    font-size: 9px;
    top: 0;
    z-index: 1;
    opacity: 1;
}
.single__form .form-control::-webkit-input-placeholder { 
    line-height: 3.125rem;
    color: #959595;
    cursor: text;
    font-family: "Celias Regular";
    font-size: 16px;
}  
.single__form .form-control:-ms-input-placeholder { 
    line-height: 3.125rem;
    color: #959595;
    cursor: text;
    font-family: "Celias Regular";
    font-size: 16px;
}  
.single__form .form-control::-moz-placeholder {
    line-height: 3.125rem;
    color: #959595;
    cursor: text;
    font-family: "Celias Regular";
    font-size: 16px;
    -moz-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}  
.single__form .form-control::-ms-input-placeholder {
    line-height: 3.125rem;
    color: #959595;
    cursor: text;
    font-family: "Celias Regular";
    font-size: 16px;
    -ms-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}  
.single__form .form-control::placeholder {
    line-height: 3.125rem;
    color: #959595;
    cursor: text;
    font-family: "Celias Regular";
    font-size: 16px;
    -webkit-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
}
.single__form.label_top .form-control::-webkit-input-placeholder {
    opacity: 0
}
.single__form.label_top .form-control::-moz-placeholder {
    opacity: 0
}
.single__form.label_top .form-control:-ms-input-placeholder {
    opacity: 0
}
.single__form.label_top .form-control::-ms-input-placeholder {
    opacity: 0
}
.single__form.label_top .form-control::placeholder {
    opacity: 0
}
.single__form a{
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 16px;
    color: #41309e;
}
.single__form a.eye-icon{
    color: #b7b7b7
}
.single__form a.eye-icon:hover{
    color: #41309e
}
.tooltip-inner{
    font-size: 11px;
    font-family: "Celias Regular";
    max-width: 220px;
}
.security-tip {
    font-size: 13px;
    font-family: "Celias Regular";
    line-height: 18px;
    color: #8a8a8a;
    margin: 10px 0;
    border-bottom: 1px solid #ced4da;
    padding: 0 0 10px 0;
}
.security-tip span{
    color: #41309e;
    margin-right: 3px;
}
.security-tip span i{
    margin-right: 5px
}
.location-tip{
    font-size: 15px;
    font-family: "Celias Regular";
    line-height: 18px;
    color: #676767;
    text-align: center;
    margin: 25px 0;
}
.location-tip span{
    border-bottom: 1px dashed #63d7fa;
    cursor: help
}
.location-tip i{
    color: #41309e;
    margin-right: 5px;
}
.custom-select {
    height: 3rem;
    background-color: transparent;
    font-size: 14px;
    padding: 15px;
    font-family: "Celias Regular";
    color: #495057;
}
.form__footer{
    text-align: center;
    margin-top: 60px;
}
.btn-form{
    line-height: 1!important;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0 1.25rem;
    height: 3.125rem;
    background-color: #5841d8;
    color:#ffffff;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-form:hover{
    opacity: 0.7;
    color:#ffffff;
}
.form__footer p{
    font-size: 14px;
    color: #464646;
    font-family: "Celias Regular";
    margin-top: 15px;
}
.form__footer p a{
    color: #3e27bf
}
/* ===== Faq Section ====== */
.faq_section{
    padding-left: 50px
}
.card-header {
    padding: 0;
    margin-bottom: 0;
    background-color:transparent;
    border-width: 0 0 1px 0;
    border-style: solid;
    text-align: left;
}
.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: 15px;
}
.btn-faq{
    text-align: left;
    padding:0 10px 20px 0;
    font-size: 14px;
    line-height: 20px;
    color: #5841d8;
    font-family: 'Celias Medium';
}
.btn-faq:hover{
    color: #5841d8
}
.btn-faq:focus{
    -webkit-box-shadow: none;
            box-shadow: none;
}
.card {
    border:none
}
.card-body {
    padding: 10px 0
}
.card-body p{
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    font-family: "Celias Regular";
}
.card-body p a{
    color: #5841d8;
    font-family: 'Celias Medium';
}
.card-body ul{
    margin-bottom: 10px
}
.card-body ul li {
    font-size: 13px;
    color: #333333;
    font-family: "Celias Regular";
    position: relative;
    padding-left: 20px;
    line-height: 24px;
}
.card-body ul li:after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #5841d8;
    display: block;
    left: 1px;
    top: 8px;
}
.accordion .card-header button::after {
    font-family: "Font Awesome 5 Pro";
    content: "\f107";
    position: absolute;
    right: 0px;
    top: 5px;
    font-size: 20px;
}
.accordion .card-header button[aria-expanded='true']::after {
    content: "\f106"
}

/*======== Sign In Panel ======= */
.bg-gray-light{
    background-color: #EEECFB
}
.panel__head{
    margin-top: 80px;
    text-align: center;
}
.panel__head h3{
    font-size: 32px;
    line-height: 45px;
    color: #5841d8;
}
.panel__icon img{
    width: 80px !important;
    margin: 20px auto;
}
.panel__slider{
    padding: 50px;
    text-align: center;
}
.panel__title h3{
    font-size: 20px;
    line-height: 32px;
    color: #41309e;
}
.panel__desc p{
    font-size: 15px;
    color: #333333;
    font-family: "Celias Regular";
    margin-top:20px;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #41309e
}
.flex__icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.account__user__head h2{
    font-size: 32px;
    line-height: 45px;
    color: #5841d8;
    margin-top: 30px;
    margin-bottom: 20px;
}
.account__user__head p a{
    color:#5841d8;
    text-decoration: underline;
}
.account__user__head span img{
    margin: 20px 0 -20px 0
}
.form__footer.sign_in_btn{
    margin-top: 10px
}
.sign_in_btn .btn-form{
    width: 100%;
    border-radius: 25px;
    text-transform: capitalize;
}
.footer__sign_btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    padding-bottom: 100px;
}
.footer__sign_btn a{
    font-size: 13px;
    color: #3e27bf;
    text-decoration: underline;
    display: inline-block;
    font-family: "Celias Regular";
}

/* ======== Mobile and Table CSS For max size 911px */
@media all and (max-width:991px){
    .header-full-img {
        background-image: url('images/mobile-bg.jpg');
        height: 500px;
        background-size: cover;
        background-position: 0 0;
    }
    .scroll-down{
        display: none
    }
    .hero__inner {
        max-width: 90%;
        padding-top: 120px;
    }
    .hero__inner h3 {
        font-size: 32px;
        line-height: 36px;
    }
    .hero__inner h3 span {
        line-height: 12px;
        font-size: 36px;
    }
    .section__head-1 h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .section__head-1 h5 {
        font-size: 28px
    }
    .card__box {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        padding-bottom: 40px;
    }
    .card__item {
        margin: 20px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
    }
    .new-to-cry .section__img img {
        margin-left: 0
    }
    .section__img img {
        width: 70%;
        margin: 20px auto !important;
        display: block;
    }
    .section__head-2 h3 strong {
        font-size: 24px;
        line-height: 32px;
    }
    .section__head-2 h3 {
        font-size: 28px
    }
    .cry-exchange .section__img img {
        margin-left: 0
    }
    .footer__card{
        margin-bottom: 30px
    }
    .footer_btns{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .footer_btns .btn {
        width: 46%
    }
    .footer-section{
        padding-left: 20px;
        padding-right: 20px;
    }
    .small__footer__box {
        margin: 40px -15px 0px -15px
    }
    .footer_nav_sm li {
        width: 33%
    }
    .social__icon li a {
        margin: 0 1px 0 0
    }

    /*======== Image Panel ====== */
    .border-b .col-lg-3{
        display: none
    }
    .create__account {
        background-color: #ffffff;
        padding: 40px;
    }
    .account__user__head h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .faq_section {
        padding-left: 0;
        margin-top: 50px;
    }
    .panel__head h3 {
        font-size: 24px;
        line-height: 20px;
    }
}

/*======= Manage Route ======== */
.section__img-margin-1 img{
    margin-left: -50px
}
.section__img-w-100 img {
    width: 90%;
    margin: 0 !important;
}
.route-intermediate{
    display: none
}
.route-advanced{
    display: none
}
.mt-10{
    margin-top: 100px
}
.google_cap{
    text-align: center
}
.google_cap .g-recaptcha{
    display: inline-block;
    margin-top: 40px;
}


/* ==== Mobile and Table CSS for MAX size 991px */
@media all and (max-width:991px){
    .mt-10{
        margin-top: 50px
    }
    .section__img-margin-1 img {
        margin-left:0
    }
}


/* ====== Mega menu ===== */
.custom__nav{
    z-index: 999;
    position: relative;
}
.mega_menu{
    position: absolute;
    left: 0;
    top: -370px;
    width: 100%;
    height: 330px;
    background-color: #5741D9;
    z-index: -1;
    padding-top: 90px;
    -webkit-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    opacity: 0;
}
.mega_menu.show_megamenu{
    top: 0;
    opacity: 1;
}
.mega_menu__inner{
    max-width:77%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.mega_head h3{
    font-size: 10px;
    color: #ffffff;
}
.mega__card{
    min-width: 155px
}
.mega__list ul li{
    display: block
}
.mega__list ul li a{
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    -webkit-transition: opacity 0.2s linear 0s;
    -o-transition: opacity 0.2s linear 0s;
    transition: opacity 0.2s linear 0s;
    opacity: 0.6;
}
.mega__list ul li a:hover{
    opacity: 0.48
}
.mobile_arrow{
    display: none
}
/* Big Screen Size Responsive CSS For min Size 1500px */
@media all and (min-width:1500px){
    .hero__inner {
        max-width: 60%;
        padding-top: 160px;
    }
    .hero__inner h3 {
        font-size: 58px;
        line-height: 68px;
        max-width: 700px;
    }
    .hero__inner h3 span {
        font-size: 65px
    }
    .section__head-1 h5 {
        font-size: 30px
    }
    .panel__slider {
        padding: 50px 100px
    }
    .create__account {
        background-color: #ffffff;
        padding: 50px 200px
    }
    .mega_menu__inner {
        max-width: 83%
    }
}
/* ====== Mega Menu Responsive For Mobile and Tablet */
@media all and (max-width:991px){
    .mobile_arrow{
        display: inline-block
    }
    .mega_menu{
        position: relative;
        left: 0;
        top: 0;
        height: auto;
        padding-top: 30px;
        opacity: 1;
        display: none;
    }
    .mega_menu__inner {
        max-width: 100%
    }
    .mega_menu.show_mobile_mega{
        display: block
    }
}

/* ====== Medium Desktop ====== */
@media all and (min-width:992px) and (max-width:1050px){
    .mega_menu__inner {
        max-width: 69%
    }
    .card__item {
        width: 180px;
        font-size: 16px;
        line-height: 22px;
    }
    .social__icon li a {
        margin: 0 10px 0 0
    }
    .create__account {
        padding: 50px
    }
    .google_cap .g-recaptcha {
        margin-top: 20px;
    }
    .footer__card h3 {
        font-size: 17px;
        line-height: 24px;
    }
    .footer_nav_sm li a {
        font-size: 9px
    }
    .footer__lang{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .panel__head h3 {
        font-size: 24px
    }
    .panel__title h3 {
        font-size: 16px
    }
    .account__user__head h2 {
        font-size: 24px
    }
    .footer__card ul li a {
        font-size: 10px
    }
}